<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2 class="main-title">アカウントを作成</h2>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <label for="user_name">ユーザー名</label><br>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="form-group">
        <label for="user_email">メールアドレス</label><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <label for="user_password">
          パスワード
          <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %></label><br>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <label for="user_password_check">パスワード（確認）</label><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.submit "新規登録", class: "btn btn-secondary" %>
      </div>
    　<% end %>

    　<span>登録済みの方は<%= link_to "こちら", new_user_session_path %></span>

    </div>
  </div>
</div>





