<h3>投稿編集</h3>

<div class="col-md-8">
    <%= form_with model: @post, local:true do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>本文</h4>
    <%= f.text_area :body %>

    <h4>画像</h4>
    <%# @post.post_images.each do |post_image| %>
    <%#= f.fields_for :post_images do |post_image| %>
      
      <%#= post_image.attachment_field :image, placeholder: "画像", class: "form-control-file" %>
      <%#= attachment_image_tag post_image, :image, :fill, 100, 100 %>
      <%= f.fields_for :post_images do |image| %>
        <p><%= attachment_image_tag image.object, :image, :fill, 100, 100 %></p>
        <P><%= image.file_field :image %></P>
        <%= image.hidden_field :id, value: image.object.id %>
        <p><%= image.text_area :text %></p>
    <% end %>

    <p><%= f.submit "更新", class: "btn btn-success" %></p>
    <% end %>
</div>