<h3>投稿編集</h3>

<div class="col-md-8">
    <%= form_with model: @post, local:true do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>本文</h4>
    <%= f.text_area :body %>
    <h4>画像</h4>
    <%= f.attachment_field :post_images_images, multiple: true %>
    <%= f.submit "更新", class: "btn btn-success" %>
    <% end %>
</div>