<div class="container">
  <div class="row">
     <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

       <h2 class="main-title">投稿編集</h2>

       <%= form_with model: @post, local:true do |f| %>
       <div class="form-group">
         <label for="post-title">タイトル</label><br>
         <%= f.text_field :title %>
       </div>
       <div class="form-group">
         <label for="post_text">本文</label><br>
         <%= f.text_area :body %>
       </div>
       <div class="form-group">
         <label for="post_image"></label><br>
          <%# @post.post_images.each do |post_image| %>
          <%#= f.fields_for :post_images do |post_image| %>

          <%#= post_image.attachment_field :image, placeholder: "画像", class: "form-control-file" %>
          <%#= attachment_image_tag post_image, :image, :fill, 100, 100 %>
          <%= f.fields_for :post_images do |image| %>
            <p><%= attachment_image_tag image.object, :image, :fill, 100, 100 %></p>
            <P><%= image.file_field :image %></P>
            <%= image.hidden_field :id, value: image.object.id %>
            <p><%= image.text_area :text %></p>
        <% end %>
       </div>

        <p><%= f.submit "更新", class: "btn btn-secondary" %></p>
        <% end %>

      </div>
    </div>
</div>
