<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="main-title">新規投稿</h2>

      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <% @post.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

        <%= form_with model: @post, url:posts_path, local:true do |f| %>
        <div class="form-group">
          <label for="post-title">タイトル</label><br>
          <%= f.text_field :title, autofocus: true %>
        </div>
        <div class="form-group">
          <label for="post-text">内容</label><br>
          <%= f.text_area :body %>
        </div>
        <div class="form-group">
          <%= f.submit "投稿", class: "btn btn-secondary" %>
        </div>
        <% end %>

      </div>
    </div>
</div>




