<!DOCTYPE html>
<html>
  <head>
    <title>Mokunavi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/" >
            <span>モクナビ！</span>
          </a>
          <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>

            <div class="search-form">
              <%= form_with url: search_path, method: :get, local: true do |f| %>
                <%= f.text_field :keyword, value: @keyword %>
                <%= f.submit "検索" %>
              <% end %>
            </div>
            <li><%= link_to posts_path, class: "btn btn-link text-light" do %>
             <i class="fas fa-home"></i>ホーム<% end %></li>

             <li><%= link_to user_path(@user.id), class: "btn btn-link text-light" do %>
             <i class="fas fa-solid fa-user"></i>マイページ<% end %></li>

             <li><%= link_to new_post_path, class: "btn btn-link text-light" do %>
             <i class="fas fa-pen"></i></i>新規投稿<% end %></li>


            <li><%= link_to destroy_user_session_path, method: :delete, class: "btn btn-link text-light" do %>
             <i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>

             <% else %>

             <li><%= link_to new_user_registration_path, class: "btn btn-link text-light" do %>
             <i class="fas fa-user-plus"></i>新規登録<% end %></li>

             <li><%= link_to new_user_session_path, class: "btn btn-link text-light" do %>
             <i class="fas fa-sign-in-alt"></i>ログイン<% end %></li>
            <% end %>

          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
